
        body{
            margin: 0;
            padding: 0%;
            font-family: Arial, Helvetica, sans-serif;
           
        }
        nav{
            padding: 10px;
            background-color: #333;
            text-align: center;
        }
        nav a {
            color: white;
            margin: 0 15px;
            text-decoration: none;

        }
        .container{
            padding: 20px;;
        }
  
        .personalizer-box {
            position: fixed;
            background: white;
            padding: 10px;
            border-radius: 10px;
            display: none;
            top: 38px;
            left: 500px;
            width: 150px;
            height: 180px;
            text-align: center;
            border: 1px solid #ddd;

        }

        .personalizer-box p{
            margin: 10px 0 5px 0;
            font-size: 17px;
        }

        .menu{
            background: black;
            color: white;
            padding: 10px;
            display: flex;
            position: relative;
            margin-right: 10px;
        }

        .menu button{
            background: none;
            border: none;
            color: white;
            cursor: pointer;
        }

        .color-btn, .text-btn{
            width: 20px;
            height: 20px;
            display: inline-block;
            cursor: pointer;
            border: 3px solid black;
            border-radius: 8px;
        }

        .font-btn-container{
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            justify-content: center;
        }

        .font-btn{
            width: 25px;
            height: 25px;
            cursor: pointer;
            font-size: 12px;
            text-align: center;
            border: 3px solid black;
            border-radius: 8px;
            background-color: #e6e2e2;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom:0px;
        }
