
        body{
            margin: 0;
            padding: 0%;
            font-family: Arial, Helvetica, sans-serif;
        }
        nav{
            padding: 10px;
            background-color: #333;
            text-align: center;
        }
        nav a {
            color: white;
            margin: 0 15px;
            text-decoration: none;

        }
        .container{
            padding: 20px;;
        }
  
        .personalizer-box {
            position: absolute;
            background: white;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            display: none;
            top: 40px;
            left: 10px;
            width: 150px;
            text-align: center;
        }

        .menu{
            background: black;
            color: white;
            padding: 10px;
            display: flex;
            position: relative;
            margin-right: 10px;
        }

        .menu button{
            background: none;
            border: none;
            color: white;
            cursor: pointer;
        }

        .color-btn, .text-btn{
            width: 20px;
            height: 20px;
            display: inline-block;
            cursor: pointer;
            margin: 3px;
        }

        .font-btn-container{
            display: flex;
            flex-wrap: wrap;
            gap: 3px;
        }

        .font-btn{
            width: 30px;
            height: 25px;
            cursor: pointer;
            font-size: 12px;
            text-align: center;
            border: 2px solid black;

        }
